<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" >
    <title>index</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1>{{content.user.username}}</h1>
    <div style="text-align: center;width: 100%; margin: 100px 20%;">
        <div style="float: left;background: skyblue; width: 15%;height: 800px; padding: 10px 20px">
            <div>
                <div style="height: 50px;float: left"><img src="www.img" style="width: 50px;height: 50px"></div>
                <div style="font-size: 20px;font-weight: bolder; line-height: 50px;text-align: center; height: 50px;float: left">{{content.user.username}}</div>
            </div>
        </div>
        <div id="chat-content" style="float: left;width: 45%; background: lightgreen;height: 800px">
            <div style="height: 600px; background: navajowhite;overflow-y: scroll"></div>
            <div style="height: 200px; background: #BFDDE0"></div>
        </div>
    </div>
    <div id="chat-input" hidden>
        消息体<textarea type="text" id="content" ></textarea>
        目标用户<input type="text" id="target" >
        <button id="send">发送</button>
    </div>
<script type="text/javascript">
    console.log("{{content.user}}");
    var websocket = null;
    $('#connect').click(function () {
     //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        var token = $("#user_id").val();
        websocket = new WebSocket("ws://localhost:8090/websocket?token="+token);
     }
    else {
        alert('当前浏览器 Not support websocket')
     }

    //连接发生错误的回调方法
    websocket.onerror = function () {
        console.log("WebSocket连接发生错误");
     };
    //连接成功建立的回调方法
    websocket.onopen = function () {
        console.log("websocket连接成功");
        $("#chat-conn").hide()
        $("#chat-input").show()
    };
    //接收到消息的回调方法
    websocket.onmessage = function (event)  {
        console.log(event.data);
        var line = "<p>呵呵:" + event.data + "</p>"
        $("#chat-content").append(line)
     };

    //连接关闭的回调方法
    websocket.onclose = function () {
        console.log("WebSocket连接关闭");
     };

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        closeWebSocket();
     };
    //关闭WebSocket连接
    function closeWebSocket() {
        websocket.close();
     }

    var offset = 0;
    $("#send").click(function () {
        var content = $("#content").val()
        data = JSON.stringify({"message_type": 1, "target": $("#target").val(), "content": content});
        $("#content").val("");
        websocket.send(data);
        var line = "<p>我:" + content + "</p>"
        $("#chat-content").append(line)
        offset += 50
        $("#chat-content").scrollTop(offset)
    })

    $("#content").keydown(function (event) {
        if(event.keyCode == "13"){
            var content = $("#content").val()
            data = JSON.stringify({"message_type": 1, "target": $("#target").val(), "content": content});
            $("#content").val("");
            websocket.send(data);
            var line = "<p>我:" + content + "</p>"
            $("#chat-content").append(line)
            offset += 50
            $("#chat-content").scrollTop(offset)
        }
    });
 </script>
</body>
</html>