<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<div style="text-align: center;">
    <form style="text-align: center;margin-top: 200px" method="POST">
        <div style="padding: 10px 0">
            <span style="width: 80px; display: inline-block">username</span><input type="text" name="username">
        </div>
        <div style="padding: 10px 0">
            <span style="width: 80px; display: inline-block">password</span><input type="password" name="password">
        </div>
        <div style="padding: 10px 0">
            <span style="width: 80px; display: inline-block">sure password</span><input type="password" name="sure_password">
        </div>
        <div style="padding: 10px 0">
            <input type="submit">
        </div>
        <div style="padding: 5px 0">
            <span style="display: inline-block;"><a href="#">register</a></span>
        </div>
    </form>
</div>
</body>
</html>